body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e8;
    padding: 50px;
    margin: 0;
    min-height: 100vh;
}

.catalog {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 23px;
    width: 220px;
}

.card_img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card_price {
    font-size: 23px;
    font-weight: bold;
}

.card_title {
    font-size: 18px;
    font-weight: normal;
}

.fork_travel {
    font-size: 18px;
    font-weight: bold;
}

.card_btn {
    background-color: #e6e6e4;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.card_btn:active {
    transform: scale(0.97);
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

h4 {
    font-size: 25px;
    margin-top: 75px;
}

.order_container {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
}

.order_col {
    flex: 1;
    min-width: 400px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

b {
    font-size: 20px;
}

select, input[type="text"], input[type="email"], input[type="time"], textarea {
    width: 70%;
    padding: 13px;
    font-size: 20px;
    margin-bottom: 20px;
}

.other_btn {
    width: 35%;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
}


